{{if or (not .IsHome) (eq .Site.Params.showheaderonhomepage true)}}

<div class="navbar bg-transparent backdrop-filter backdrop-blur-sm z-10 fixed top-0">
  <div class="flex-1">
    <a href="/"class="text-lg font-bold flex" aria-label="Logo Link to the home">
    {{with .Site.Params.logoSvg}}<div class="fill-base-content w-7 h-7 my-auto">{{. | safeHTML}}</div>{{else}}{{.Site.Title}}{{end}}
      {{with .Site.Params.logoLabel}}<div class="ml-3 my-auto pl-3">{{.}}</div>{{end}}
    </a>
  </div>
</div>

<script>
  //document.querySelectorAll("button[data-set-theme]").forEach( m => m.addEventListener("click", changeTheme))
</script>

{{- end}}
